* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #bcd9f0;
}

body {
  min-height: 100vh;
  background-image: url("assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  padding: 0;
}

.below{
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  font-style: italic;
}

.targets{
  background: lightyellow;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  color: black;
  text-align: center;
  margin-inline: 60px;
  opacity: 90%;

}

.facts {
  background: lightyellow;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  color: black;
  text-align: center;
  margin-inline: 60px;
  opacity: 90%;
}

.table, oooh {
  max-width: 1100px;
  margin: 50px auto;
  background-color: lightyellow;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


h1, h2, h3 {
  color:black;
  margin-bottom: 0.5em;
}

.text h1 {
  font-size: 2.5rem;
  margin-left: 0; 
  text-align: center;
}

.text h3 {
  font-size: 1.5rem;
  text-align: center;
}

main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.section,
.facts,
.targets,
.first {
  background: lightyellow;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
  text-align: center;
}


.section h2,
.frst h1 {
  color: black;
  font-size: 2rem;
}

.section ul {
  list-style: disc inside;
  text-align: left;
  max-width: 800px;
  margin: 1em auto;
  color: black;
}

.section a {
  color: black;
  text-decoration: underline;
}

.statement,
.content,
.below {
  font-style: italic;
  text-align: center;
  margin: 40px 0;
  padding: 0 20px;
}

footer,
.footer {
  background-color: #0066cc;
  color: lightyellow;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: auto;
}

.contact-section {
  max-width: 1100px;
  margin: 50px auto;
  background: lightyellow;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}

.contact-section h1 {
  color: #004080;
  text-align: center;
  font-size: 2rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap
}